<template>
<div>
  <div class="sm" v-if="!PCflag">(双击缩放,左右滑动)</div>
  <div class="swiper">
    <swiper :options="swiperOption" ref="mySwiper" >
      <!-- slides -->
        <swiper-slide v-for="(item,index) in imgList" :key="index"><div class="swiper-zoom-container"><img class="cats" :src="require(`@/assets/image/${item}`)" alt=""></div></swiper-slide>
        <!-- Optional controls -->
    </swiper>
  </div>
</div>
</template>

<script>
  export default {
    name: 'carrousel',
    props:{
      imgList:{
        require: true,
      },
    },
    data() {
      return {
        s_width:0,
        s_height:0,
        swiperOption: {
          zoom : true,
          effect : 'creative',
        }
      }
    },
    watch:{
      imgList:{
        immediate: true, // 很重要！！！
        handler (value) {
          this.$nextTick(()=>{
              for(let i=0;i<value.length;i++){
              var img = document.querySelectorAll('.cats')[i]

                if(this.PCflag){
                  img.style.height = this.s_height*0.5+'px'
                }else {
                  img.style.width = this.s_width*0.8+'px'
                }
            }
          })
        }
      },
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.swiper
      }
    },
    mounted() {
      this.s_width = document.querySelector('.swiper').clientWidth
      this.s_height = document.querySelector('body').clientHeight
      document.querySelector('.swiper').style.height = this.s_height*0.6+'px'
      document.querySelector('.swiper').style.lineHeight = this.s_height*0.6+'px'

    }
  }
</script>

<style scoped>
  .swiper {
    margin-top: 0.5rem;
    text-align: center;
    overflow: hidden;
  }
  .sm {
    font-size: 0.2rem;
    color: rgb(122, 117, 117);
    width: 100%;
    height: 0.3rem;
    text-align: center;
  }
</style>