<template>
    <div class="main">
      <div class="title">27号宿舍楼</div>
      <div class="brief">
        <span> 27号楼是工大最大的猫咖</span><br>
        <span> 有好心人安置了猫窝、猫爬架和饮水机。</span><br>
        <span>他们位于女生宿舍阳台下，请各位撸猫时保持安静，不要影响他人生活^ ^</span>
      </div>
      <div class="pic">

        <swiper :imgList="imgList"></swiper>
      </div>
    </div>
</template>

<script>
import swiper from '@/components/swiper/swiper.vue'
export default {
  name: "dormitory27brief",
  props: {},
  components:{
    swiper
  },
  data() {
    return {
      imgList:['27d_brief1.jpg',
      '27d_brief2.jpg',
      '27d_brief3.jpg',
      '27d_brief4.jpg',
      '27d_brief5.jpeg',
      '27d_brief6.jpg',
      '27d_brief7.jpg',
      ]
    };
  },

};
</script>

<style scoped>
  @font-face{
     font-family: 'zw'; 
     src: url(../../assets/font/zw.ttf);
  }

  @font-face{
     font-family: 'bm'; 
     src: url(../../assets/font/bm.ttf);
  }
  .main {

  }
  .title {
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
    font-family: 'zw';
    color: #807689;
  }
  .brief {
    font-family: 'bm';
    font-size: 0.3rem;
    text-align: center;
    margin-top: 1rem;
    color: #959392;
    font-weight: bolder;

  }

</style>