<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：媒婆痣</span><span>品种：奶牛</span
        ><span>性别：母(可能)</span>
      </div>
      <div class="line">
        <span>出生年月: 21年4月</span><span>绝育：未知</span><span>性格：亲人</span>
      </div>
      <div class="line">
        <span>活动范围： 常驻于27#宿舍楼下</span>
      </div>
      <div class="line">
        <span>有无犯罪史：抓伤过人(非故意)</span>
      </div>
      <div class="line">
        <span>识别特征：通体黑毛，白手套、白色鼻子旁有黑痣</span>
      </div>
      <div class="discribe">
        性格温顺、亲人可摸（随便撸也不生气）<br>
        单方面认定为全工大最乖的猫，不支持反驳<br>
        可以摸头、揉肚皮、揪尾巴，可以抱在身上<br>
        有一个长得很像的兄弟，容易认错,区别在于鼻子上有无黑痣,和狸花是好朋友

      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "dormitory27cat1",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "27d_mpz1.jpg",
        "27d_mpz2.jpg",
        "27d_mpz3.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>