<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：小梨花</span><span>品种：狸猫</span
        ><span>性别：公</span>
      </div>
      <div class="line">
        <span>出生年月: 21年4月</span><span>绝育：否</span><span>性格：谨慎</span>
      </div>
      <div class="line">
        <span>活动范围： 常驻于27#宿舍楼下</span>
      </div>
      <div class="line">
        <span>有无犯罪史：未知</span>
      </div>
      <div class="line">
        <span>识别特征：非常精致的狸猫，27号楼常驻四小只中唯一的一只狸猫，他们吃住经常一起</span>
      </div>
      <div class="discribe">
        给吃的可以顺便摸两下，没有吃的就会跟你保持距离<br>
        反应很快特别爱玩，捕猎小能手<br>
        性格还是很谨慎，不过比以前好很多了<br>
        27号楼常驻4小只中的其中一只

      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "dormitory27cat2",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "27d_lh1.jpg",
        "27d_lh2.jpg",
        "27d_lh4.jpg",
        "27d_lh3.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>