<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：大佐</span><span>品种：奶牛猫</span><span>性别：未知</span>
      </div>
      <div class="line">
        <span>出生年月: 21年4月</span><span>绝育：否</span><span>性格：谨慎</span>
      </div>
      <div class="line">
        <span>活动范围： 常驻于27#宿舍楼下</span>
      </div>
      <div class="line">
        <span>有无犯罪史：未知</span>
      </div>
      <div class="line">
        <span>识别特征：4小只里面相对潦草一丢丢，长毛黑白，嘴唇上方一撮黑胡子，也有同学叫他太君</span>
      </div>
      <div class="discribe">
        非常怕人，只有在有食物的时候才能接近，但还是不能摸<br>
        用逗猫棒跟他玩的时候，感觉憨憨的<br>
        曾经自己单飞过一段时间，后又重新加入原来的小团体<br>
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "dormitory27cat3",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "27d_dz1.jpg",
        "27d_dz2.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>