<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：小白脸</span><span>品种：奶牛猫</span><span>性别：未知</span>
      </div>
      <div class="line">
        <span>出生年月: 21年4月</span><span>绝育：否</span><span>性格：谨慎</span>
      </div>
      <div class="line">
        <span>活动范围： 常驻于27#宿舍楼下</span>
      </div>
      <div class="line">
        <span>有无犯罪史：未知</span>
      </div>
      <div class="line">
        <span>识别特征：中分头，脸很瘦小很精致</span>
      </div>
      <div class="discribe">
        非常怕人，给吃的也不让摸，甚至不能近身<br>
        21年11月份之前都还好，也特别爱玩<br>
        但是之后就明显变得不合群了起来，性格也越来越谨慎了，不知道经历过什么<br>
        大部分时间都在自己单飞，原来的4小只中的一员
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "dormitory27cat3",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "27d_xbl1.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>