<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：大花</span><span>品种：狸花</span
        ><span>性别：未知</span>
      </div>
      <div class="line">
        <span>出生年月: 未知</span><span>绝育：未知</span><span>性格：亲人</span>
      </div>
      <div class="line">
        <span>活动范围： 行踪不定，但常出没于三餐，二教等区域</span>
      </div>
      <div class="line">
        <span>有无犯罪史：未知</span>
      </div>
      <div class="line">
        <span>识别特征：花纹后背，白色胸腹，嘴鼻处花纹</span>
      </div>
      <div class="discribe">
        性格温顺，亲人可摸。 行踪不定<br>
        前腿曾受过伤，传闻被大学城“猫先生”猫店带走收养治疗，痊愈后放归<br>
        饿了后会主动前往食堂门口、宿舍楼门口等待好心人投食<br>
        现在也被喂成猫球啦<br>
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "elusivecat1",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "elusive_dh1.jpeg",
        "elusive_dh2.jpg",
        "elusive_dh3.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>