<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：水手</span><span>品种：狸花</span
        ><span>性别：未知</span>
      </div>
      <div class="line">
        <span>出生年月: 未知</span><span>绝育：未知</span><span>性格：亲人</span>
      </div>
      <div class="line">
        <span>活动范围： 行踪不定，三餐及26号楼附近有时会见到</span>
      </div>
      <div class="line">
        <span>有无犯罪史：未知</span>
      </div>
      <div class="line">
        <span>识别特征：左眼残疾</span>
      </div>
      <div class="discribe">
        左眼残疾的一只喵，像是海盗里的独眼水手，所以取名水手<br>
        曾经见过他很多次去27好楼下那4小只的地盘找吃的<br>
        曾经一度想要融入4小只，但4小只好像不太欢迎它<br>
        感觉很可怜，很孤独，没有什么朋友<br>
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "elusivecat3",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "elusive_ss1.jpg",
        "elusive_ss2.jpg",
        "elusive_ss3.jpg",
        "elusive_ss4.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>