<template>
    <div>
        <canvas id="cav"></canvas>
    </div>
</template>

<script>

export default {
    name:'canvas',
    data(){
        return {

        }
    },
    mounted(){
        
  
        var canvas = document.getElementById('cav')
        canvas.height = document.querySelector('body').clientHeight
        canvas.width = document.querySelector('body').clientWidth

        var cvs = canvas.getContext('2d')
        var bollArr = []
        function Boll(x,y){
            this.x = x
            this.y  =y
            this.r = 8
            this.dx = Math.random()*10-5
            this.dy = Math.random()*10-5
            this.color = 'rgba('+parseInt(Math.random()*255)+','+parseInt(Math.random()*255)+','+parseInt(Math.random()*255)+',0.5)'
            bollArr.push(this)
        } 

        Boll.prototype.render = function(){
            cvs.beginPath()
            cvs.fillStyle = this.color
            cvs.arc(this.x,this.y,this.r,0,2*Math.PI,true)
            cvs.fill()
        }

        Boll.prototype.updata = function(){
            this.x += this.dx
            this.y += this.dy
            this.r--
            if(this.r <=0){
            for(let i=0;i<bollArr.length;i++){
                if(this === bollArr[i]) {
                bollArr.splice(i,1)
                break
                }
            }
            }
        }

        setInterval(()=>{
            cvs.clearRect(0,0,document.querySelector('body').clientWidth,document.querySelector('body').clientHeight)
            for(let i=0;i<bollArr.length;i++){
            bollArr[i].render()
            bollArr[i] && bollArr[i].updata()
            }
        },20)
        if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            document.body.addEventListener('touchmove',function(e){
            e.preventDefault()
            new Boll(e.touches[0].clientX+Math.random()*4-2,e.touches[0].clientY+Math.random()*4-2)
            new Boll(e.touches[0].clientX+Math.random()*4-2,e.touches[0].clientY+Math.random()*4-2)

        },{passive: false})
        } else {
        document.body.addEventListener('mousemove',function(e){
            new Boll(e.clientX,e.clientY)
        },{passive: false})
        }
  
    }
}
</script>

<style scoped>
 #cav {
     position: fixed;
     width: 100%;
     height: 100%;
 }
</style>