<template>
    <div class="main">
      <div class="title">About</div>
      <div class="brief">
        <span> 欢迎来到工大猫窝，这是一个处于实验性质的练习项目。</span><br>
        <span> 本项目使用Vue3构建而成。源代码已经开放至GitLab。后续也会更新到Github</span><br>
        <span>如果大家有GitHub账户，请为本项目点Star吧！</span><br>
        <span>本网站目前为静态页面，随着作者水平的提高，会逐步加入以下功能（画大饼）：  </span><br>
        <span>-网页评论</span><br>
        <span>-基于人工智能算法的猫脸识别</span><br>
        <span>-用户在线提交猫咪动态</span><br>
        <span>-基于Git共同编辑页面，实现网站的可持续发展</span><br>
      </div>
      <div class="endline"></div>
      <div class="end">
        <div class="item">
          <div class="name">网站第一作者及负责人:Aethoce</div>
          <div class="email">Email：Lijinghong0233@gmail.com</div>
        </div>
        <div class="item">
          <div class="name">网页制作：isQtion</div>
          <div class="email">Email：15910804870@163.com</div>
        </div>
        <div class="item">
          <div class="name">页面设计:沧离</div>
          <div class="email">Email：1059445152@qq.com</div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "dormitory27brief",
  props: {},

};
</script>

<style scoped>
  @font-face{
     font-family: 'zw'; 
     src: url(../../assets/font/zw.ttf);
  }

  @font-face{
     font-family: 'bm'; 
     src: url(../../assets/font/bm.ttf);
  }
  .main {

  }
  .title {
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
    font-family: 'zw';
    color: #807689;
  }
  .brief {
    font-family: 'bm';
    font-size: 0.28rem;
    text-align: center;
    margin-top: 1rem;
    color: #959392;
    font-weight: bolder;
  }
  .brief span {
    line-height: 1rem;
  }
  .endline {
    margin: 1rem;
    margin-bottom: 0;
    border-top: 2px solid #ccc;
  }
  .end .item {
    float: left;
    margin-left: 2rem;
    font-family: 'bm';
    font-size: 0.3rem;
    margin-right: 2rem;
    margin-top: 1rem;
    position: relative;
    z-index: 999;
  }

</style>