<template>
  <div class="main">
    <div class="left">
      <div class="detial" @click="show_hidden">{{ s_h }}</div>
      <div class="list" v-if="!show">
        <img class="logo" src="@/assets/logo.png" alt="" />
        <div class="position_box">
          <div class="position" v-for="(item, index) in order" :key="index" >
            <div @click.prevent="show_more(index)">{{ item.label }}  <span>...</span></div>
            <div class="children_box" v-show="order_flag[index]">
               <div class="children" v-for="(ele, j) in item.children" :key="j">
                <router-link :to="ele.path"><span>{{ ele.label }}</span></router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
        <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "cat",
  props: {},
  data() {
    return {
      show: true,
      s_h: "显示",
      s_width:0,
      order: [
        {
          label: "体育场附近",
          children: [
            {
              label: "猫妈",
              path:'/tyg/cat1'
            },
            {
              label: "杀神",
              path:'/tyg/cat2'
            },
            {
              label: "胖胖",
              path:'/tyg/cat3'
            },
          ],
        },
        {
          label: "27#宿舍楼下",
          children: [
            {
              label: "简介",
              path:'/27dormitory/brief'
            },
            {
              label: "媒婆痣",
              path:'/27dormitory/cat1'
            },
            {
              label: "小梨花",
              path:'/27dormitory/cat2'
            },
            {
              label: "大佐",
              path:'/27dormitory/cat3'
            },
            {
              label: "小白脸",
              path:'/27dormitory/cat4'
            },
          ],
        },
        // {
        //   label: "京东快递点",
        //   children: [
        //     {
        //       label: "coming soon",
        //       path:''
        //     },
        //   ],
        // },
        {
          label: "行踪不定",
          children: [
            {
              label: "大花",
              path:'/elusive/cat1'
            },
            {
              label: "白项圈",
              path:'/elusive/cat2'
            },{
              label: "水手",
              path:'/elusive/cat3'
            },
          ],
        },
        // {
        //   label: "暂未识别",
        //   children: [
        //     {
        //       label: "未识别(小墨点)",
        //       path:'/unknown/cat1'
        //     },
        //     {
        //       label: "未识别(白色长胸毛)",
        //       path:'/unknown/cat2'
        //     },
        //   ],
        // },
        // {
        //   label: "杂谈",
        //   children: [
        //     {
        //       label: "关于杂谈",
        //       path:'/gossip/about'
        //     },
        //     {
        //       label: "大花临行117宿舍",
        //       path:'/gossip/story1'
        //     },
        //   ],
        // },
        {
          label: "关于本项目",
          children: [
            {
              label: "About",
              path:'/about/about'
            },
            // {
            //   label: "更新日志",
            //   path:'/about/updata'
            // },
          ],
        },
      ],
      order_flag : []
    };
  },
  methods: {
    show_hidden() {
      this.show = !this.show;
    },
    show_more(index){
        this.order_flag[index] = !this.order_flag[index]
        this.order_flag.push(false)
        this.order_flag.pop()
    }
  },
  created(){
      for(var i=0;i<this.order.length;i++){
          this.order_flag.push(false)
      }
      this.s_width = document.body.clientWidth
      
  },
  watch: {
    show(val) {
      if (val) {
        this.s_h = "显示";
        document.querySelector(".left").style.width = "0rem";
        document.querySelector(".detial").style.transform =
          "translate(100%,-50%)";
        document.querySelector(".detial").style.backgroundColor = "rgba(6, 180, 139, 0.479)";
        document.querySelector(".detial").style.color = "#fff";
      } else {
        this.s_h = "隐藏";
        document.querySelector(".left").style.width = "3.5rem";
        document.querySelector(".detial").style.transform =
          "translate(0%,-50%)";
        document.querySelector(".detial").style.backgroundColor = "#fff";
        document.querySelector(".detial").style.color = "#06B48C";
      }
    },
  },
};
</script>

<style scoped>
.main {
    height: 100%;
}
.left {
  position: fixed;
  height: 100%;
  width: 0rem;
  background-color: rgba(6, 180, 139, 0.479);
  z-index: 99999;
}
.logo {
  width: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.detial {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  background-color: rgba(6, 180, 139, 0.479);
  border-radius: 50%;
  color: #fff;
  font-size: 0.2rem;
  line-height: 1rem;
  text-align: center;
  z-index: 99;
}
.list {
  margin-top: 0.5rem;
  color: #fff;
  position: relative;
  height: 100%;
  overflow: scroll;
}
.list >>> .el-tree-node__content {
  margin-top: 0.5rem;
  font-size: 0.3rem;
}
.position_box {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.position {
  margin-top: 0.5rem;
  font-size: 0.3rem;
  margin-left: 0.2rem;
}
.children_box {
  font-size: 0.3rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
.children {
  margin-top: 0.1rem;
}
.children span {
  color: #fff;
}
.right {
    float: right;
    width: 100%;
    background-color: #ffe0b5;
    height: 100%;
}
a {
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:active {
  outline-width: 0;
  text-decoration: none;
}
</style>