<template>
  <div class="main">
    <div class="saySomething">
      <p>如你所见，这是一个齐工大的猫咪图鉴网站。</p>
      <p>灵感来自北京大学的同类项目。</p>
      <p>目前本网站采用猫咪常出没的地点作为分类标准</p>
      <p>希望各位撸猫愉快 ^ ^</p>
    </div>
    <div class="welcome">
      <div>欢迎来到工大猫窝，里面有好康的~</div>
      <router-link to="/27dormitory/brief"><div class="into">进去看看</div></router-link>
    </div>
    <div class="sayMore">
      <p>如果大家想提供新的页面或素材，请向作者发送邮件。</p>
      <p>如果对本网站有任何建议，也请邮件提出。</p>
      <p>特别感谢<a href="https://www.qlunet.cn/">齐鲁工业大学网络运维</a>的好兄弟对本站提出技术性指导。</p>
      <p>特别感谢2班的好同学们参与了本站的beta测试。</p>
      <p>想要知道本站最近的更新内容，参见更新日志</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    
  },
  data(){
    return{
      dnImg : require('@/assets/bg/dn.jpg'),
      sjImg : require('@/assets/bg/sj.jpg')
    }
  },
  mounted(){
    if(this.PCflag){
      document.querySelector('.main').style.backgroundImage="url("+this.dnImg+")"
    }else {
      document.querySelector('.main').style.backgroundImage="url("+this.sjImg+")"
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >
@font-face{
     font-family: 'zt'; 
     src: url(../assets/font/zt.ttf);
}
@font-face{
     font-family: 'bm'; 
     src: url(../assets/font/bm.ttf);
}
@keyframes appear {
    from {
      top: 70%;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }

  .main{
    text-align: center;
    height: 100%;
    /* background: url() center no-repeat; */
    background-size: cover;
  }
  .saySomething {
    float: left;
    text-align: left;
    font-size: 0.4rem;
    color: #fff;
    font-family: 'bm';
  }
  .sayMore {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
    font-family: 'bm';
    font-size: 0.25rem;
    color: #fff;
  }
  a {
    font-weight: bolder;
    color: #a55454;
  }
  .welcome {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 0.6rem;
    animation-name: appear;
    animation-duration: 2s;
    top:50%;
    left: 50%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 0.8rem 0 0.8rem 0;
    color: rgba(255,255,255,0.8);
    font-family: 'zt';
  }
  .into{
    margin-top: 0.8rem;
    border: 2px solid #a55454;
    padding: 0.2rem;
    width: 4rem;
    display: inline-block;
    border-radius: 0.2rem;
  }
  .into:hover {
    color: #ccc;
    border: 2px solid #a55454;
    background-color: #a55454;

  }
</style>
