<template>
  <div id="app">
    <Canvas></Canvas>
    <router-view></router-view>
  </div>
</template>

<script>
import Canvas from './components/useless/canvas.vue'
export default {
  name: 'App',
  components: {
    Canvas
  },
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}
html,body {
  height:100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:active {
  outline-width: 0;
  text-decoration: none;
}
</style>
