<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：未知</span><span>品种：玳瑁</span><span>性别：母</span>
      </div>
      <div class="line">
        <span>出生年月: 未知</span><span>绝育：否</span><span>性格：谨慎</span>
      </div>
      <div class="line">
        <span>活动范围： 常驻于体育场北门教职公寓栅栏附近</span>
      </div>
      <div class="line">
        <span>有无犯罪史：抓伤过人</span>
      </div>
      <div class="line">
        <span>识别特征：黑黄相间毛色，大概率带领两只橘猫崽游荡</span>
      </div>
      <div class="discribe">
        警告：这是一只带有幼崽的母猫，警惕性强，怕人，具有攻击性。曾抓伤路人。<br>
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "tygcat1",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "tyg_maoma5.jpg",
        "tyg_maoma4.jpg",
        "tyg_maoma6.jpg",
        "tyg_maoma1.jpg",
        "tyg_maoma2.jpg",
        "tyg_maoma3.png",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>