<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：杀神</span><span>品种：黑猫</span><span>性别：公</span>
      </div>
      <div class="line">
        <span>出生年月: 未知</span><span>绝育：否</span><span>性格：怕人但不完全怕人</span>
      </div>
      <div class="line">
        <span>活动范围： 体育场北门附近</span>
      </div>
      <div class="line">
        <span>有无犯罪史：未知</span>
      </div>
      <div class="line">
        <span>识别特征：暂无明显识别特征</span>
      </div>
      <div class="discribe">
        威名远扬的工大杀神。不怕人，但不喜欢被摸<br>
        与猫妈关系好，经常在栅栏附近默默看着猫妈和她的小猫崽<br>
        应该不会是猫爸吧<br>
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "tygcat2",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "tyg_ss1.jpg",
        "tyg_ss2.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>