<template>
  <div class="main">
    <div class="brief">
      <div class="line">
        <span>姓名：胖胖</span><span>品种：三花</span><span>性别：未知</span>
      </div>
      <div class="line">
        <span>出生年月: 未知</span><span>绝育：否</span><span>性格：亲人</span>
      </div>
      <div class="line">
        <span>活动范围： 常驻于15#宿舍楼南，熙华北路与熙华东路的转角处</span>
      </div>
      <div class="line">
        <span>有无犯罪史：否</span>
      </div>
      <div class="line">
        <span>识别特征：粉鼻头，头部、背部和尾部有一块狸猫的花纹</span>
      </div>
      <div class="discribe">
        一只慵懒的喵。<br>
        饿的时候就默默站在路边等待路人投喂<br>
        饿的时候叫他胖胖他就会跑过来，随便撸，但是吃饱了就走，渣猫确凿<br>
        曾被人抱回宿舍好吃好喝供养了一段时间，后因放荡不羁爱自由无奈放归自然
      </div>
    </div>

    <div class="pic">
      <swiper :imgList="imgList"></swiper>
    </div>
  </div>
</template>

<script>
import swiper from "@/components/swiper/swiper.vue";
export default {
  name: "tygcat2",
  props: {},
  components: {
    swiper,
  },
  data() {
    return {
      imgList: [
        "tyg_pp1.jpg",
        "tyg_pp2.jpg",
        "tyg_pp3.jpg",
        "tyg_pp4.jpg",
        "tyg_pp5.jpg",
        "tyg_pp6.jpg",
        "tyg_pp7.jpg",
      ],
    };
  },
};
</script>

<style scoped>
@font-face {
  font-family: "zw";
  src: url(../../assets/font/zw.ttf);
}

@font-face {
  font-family: "bm";
  src: url(../../assets/font/bm.ttf);
}

.brief {
  margin-left: 15%;
  font-family: "bm";
  font-size: 0.3rem;
  margin-top: 1rem;
  color: #959392;
}
.line {
  display: flex;
  width: 100%;
}
.line span {
  flex: 1;
  text-align: start;
}
.discribe {
  border-top: 2px dashed #ccc;
  font-family: "bm";
  font-size: 0.3rem;
  color: #959392;
  margin-right: 15%;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}
</style>